
<table id="tblRaw">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    @foreach (var rawData in Model)
    {

        <tr class="dataFromRow" data-toggle="modal" data-target="#myModal">
            <td>@rawData.Name</td>
            <td>@rawData.Description</td>
            @if (@rawData.Status == true)
            {
                <td>Active</td>
            }
            else
            {
                <td>Inactive</td>
            }
        </tr>

    }
</table>