@Model List<dataTable>
@{
    ViewBag.Title = "Task 1";
}

<div id="container_switch_maintenance">
    <h1>SWITCH MAINTENANCE</h1>
    <hr />

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
        </tr>

        @foreach (var rawData in Model)
        {
            <tr>
                <td>@rawData.Name</td>
                <td>@rawData.Description</td>
                @if (@rawData.Status == true)
                {
                    <td>Active</td>
                }
                else
                {
                    <td>Inactive</td>
                }
            </tr>
        }     
    </table>
</div>

