#container_switch_maintenance {
    border: 2px solid #f3f4ed;
    margin-top: 10px;
    min-height: 200px;
}

    #container_switch_maintenance h1 {
        color: #e90b0b;
        font-size: 1.5em;
        font-weight: bold;
        margin: 20px;
    }

    #container_switch_maintenance hr {
        border: 1px solid #798777;
    }

table {
    margin: 20px;
    border-collapse: separate;
    border-spacing: 1px;
}

    table tr th {
        background-color: #1597bb;
        color: white;
        height: 40px;
        width: 250px;
    }

    table tr th, table tr td {
        padding: 15px;
    }
